@model Course
@{
    ViewData["Title"] = "Details";
}

<div id="container">
    <h2>Course Details</h2>
    <div class="card" style="width: 18rem;-webkit-border-radius:5px;box-shadow:5px 5px #888888">
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <h5 class="card-title">Degree: @Model.Degree</h5>
            <h5 class="card-title">Min Degree: @Model.MinDegree</h5>
            <h5 class="card-title">Department: @Model.department.Name</h5>
        </div>
    </div>

    <a class="a" asp-action="index" asp-controller="Course">Back to home</a>
</div>

<style>
    #container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    h2 {
        margin-bottom: 20px;
    }

    .a {
        text-decoration: none;
        display: inline-block;
        outline: 0;
        cursor: pointer;
        padding: 5px 16px;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        vertical-align: middle;
        border: 1px solid;
        border-radius: 6px;
        color: #ffffff;
        background-color: rgb(26 188 156);
        border-color: #1b1f2326;
        box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset;
        transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
        transition-property: color, background-color, border-color;
        margin: 10px 0;
    }

    .a:hover {
        color: white;
        background-color: rgb(26 188 156);
        border-color: #1b1f2326;
        transition-duration: 0.1s;
    }

</style>
